---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sam Hankins // Resume">
	<main class="mt-8 mb-4">
		<img src="headshot.jpg" alt="image description" class="w-48 mb-8 rounded-full"/>
		<h1 class="text-gradient text-4xl mb-2 font-brand ">A little bit more about me...</h1>
		<p>Filipinx-American. Queer. Non-binary. Neurodivergent. NYC.</p>
	</main>
</Layout>



<style>

</style>
