---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import headshot from '@assets/headshot.jpg';
import { Icon } from 'astro-icon/components';
---

<Layout title="Sam Hankins // Product Designer">
	<main class="sm:flex">
        <Image src={headshot} alt="image description" class="mx-auto w-48 h-48 mb-8 rounded-full hover:rotate-45" />
        <div class="sm:ml-10">
            <h1 class="text-5xl sm:text-7xl mt-4 mb-1 font-medium tracking-tight font-brand origin-bottom hover:-rotate-2 inline-block align-middle mr-4">Sam Hankins
            </h1>
            <Icon name="wave" class="text-5xl sm:text-7xl inline-block"/>
            <h3 class="text-xl sm:text-3xl leading-relaxed font-sans">I'm a researcher and designer specializing in community experiences that foster connection and prioritize safety.
            </h3>
            <h3 class="text-2xl sm:text-3xl font-semibold font-brand mt-8 tracking-tight">Currently</h3>
            <p class="text-lg sm:text-xl mb-6 leading-relaxed font-sans">I'm a <span class="font-medium text-orange-800">Principal Product Designer @ Vox Media </span>leading design for Coral, the commenting and moderation platform powering communities for sites like The Washington Post, the Financial Times, USA Today, New York Magazine, and the Wall Street Journal.</p>
            <h3 class="text-2xl sm:text-3xl font-semibold font-brand tracking-tight">Always</h3>
            <p class="text-lg sm:text-xl leading-relaxed">Filipinx-American. Queer. Non-binary. Neurodivergent.</p>
        </div>
	</main>
</Layout>


<style>

</style>