---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sam Hankins // Product Designer">
	<main class="mt-8 mb-4">
		<img src="headshot.jpg" alt="image description" class="w-48 mb-8 rounded-full"/>
		<h1 class="text-5xl font-extrabold font-brand uppercase">Sam Hankins</h1>
		<h2 class="text-2xl mb-2 text-gray-700">they / them / theirs</h2>
<!-- sub heading -->
		<p class="text-2xl font-medium leading-loose">Filipinx-American. Queer. Non-binary. Neurodivergent. NYC.</p>
	</main>
<!-- section -->
	<section class="my-8">
		<h3 class="text-2xl tracking-wide font-bold my-2 font-brand">Currently</h3>
		<p class="text-2xl mb-3 leading-snug">I'm a Principal Product Designer @ Vox Media leading research and design for Coral, a community engagement platform that puts safety and inclusion at the forefront of conversations around journalism.</p>
		<p class="leading-loose">Portfolio update in progress. Get in <a href="mailto:sam@iamsamhankins.com" class="underline font-semibold">contact</a> or check out <span class="underline font-semibold"><a href="https://www.linkedin.com/in/samanthahankins/">LinkedIn</a></span></p>
	</section>
	<!-- <section class="mb-8">
		<h3 class="text-2xl font-bold my-2 font-brand">Design and representation</h3>
		<p class="text-lg leading-relaxed">As a designer navigating life with a newly deepened appreciation for my several identities and life experiences, I bring openness, curiosity, and vulnerability as core values to my design process and collaboration. I live with the belief that representation yields more inclusive and equitable products (and frankly, is required for any business to be successful today).</p>
	</section>
	<section>
		<h3 class="text-2xl font-bold my-2 font-brand">Empowering the next generation of designers</h3>
		<p class="text-lg mb-4 leading-relaxed">This also fuels my passion for teaching and welcoming thoughtful problem-solvers from underrepresented communities and career transitioners from non-tech backgrounds into the world of product design.</p>
		<p class="text-lg mb-4 leading-relaxed">I've spent close to 4 years mentoring up-and-coming designers with diverse backgrounds transitioning from other careers. As a career transitioner myself, I believe a new designer's greatest asset is owning their past experience and using that to inform their design voice. As a mentor, I help people refine their product-thinking skills, develop confidence in their unique history, and make sure these two things come together to produce a well-thought-out portfolio and radiate during their job interviews.</p>
		<p class="text-lg  mb-3 leading-relaxed">My past students and mentees now work at companies like Apple, Microsoft, Chegg, Slalom, Flickr, CVS and CarMax</p>
		<p class="">Interested in mentorship? <a href="mailto:sam@iamsamhankins.com" class="font-semibold underline">Let me know.</a></p>
	</section> -->

</Layout>


<style>

</style>
