---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sam Hankins // Product Designer">
	<main class="mt-8 mb-4 flex">
		<img src="headshot.jpg" alt="image description" class="w-48 h-48 mb-8 rounded-full"/>
        <div class="ml-10">
            <h1 class="text-xl mt-4 mb-1  font-brand">Hi, I'm <span class="font-medium">Sam</span>! My pronouns are <span class="font-medium">they/them</span>.
            </h1>
            <!-- <h1 class="text-xl font-brand">Hi, I'm <span class="font-semibold">Sam</span>!
            <h2 class="text-xl font-brand mb-3">My pronouns are <span class="font-semibold">they/them</span>.</h2> -->
            <h3 class="text-4xl leading-tight">I’m a researcher and designer specializing in community experiences that foster connection and prioritize safety.
            </h3>
            <h3 class="text-lg font-semibold font-brand mt-8">Currently</h3>
            <p class="text-lg mb-6 leading-snug">I'm a <span class="font-semibold text-orange-800">Principal Product Designer @ Vox Media </span>leading design for Coral, the commenting and moderation platform powering communities for sites like The Washington Post, the Financial Times, USA Today, New York Magazine, and the Wall Street Journal.</p>
            <h3 class="text-lg font-semibold font-brand">Always</h3>
            <p class="text-lg font-medium">Filipinx-American. Queer. Non-binary. Neurodivergent. NYC.</p>
        </div>
	</main>
    <!-- <h3 class="text-5xl leading-tight">I’m a researcher and designer specializing in community platforms that foster connection and prioritize safety.
    </h3> -->
<!-- section -->
	<section class="my-8">
		<!-- <h3 class="text-xl tracking-wide font-semibold mb-1 font-brand">Currently</h3>
		<p class="text-xl mb-6 leading-snug">I'm a Principal Product Designer @ Vox Media leading design for Coral, the commenting and moderation platform powering communities for sites like The Washington Post, the Financial Times, USA Today, New York Magazine, and the Wall Street Journal.</p>
		<h3 class="text-xl tracking-wide font-semibold mb-1 font-brand">Always</h3>
        <p class="text-xl font-medium leading-loose">Filipinx-American. Queer. Non-binary. Neurodivergent. NYC.</p> -->
		<!-- <p class="leading-loose">Portfolio update in progress. Get in <a href="mailto:sam@iamsamhankins.com" class="underline font-semibold">contact</a> or check out <span class="underline font-semibold"><a href="https://www.linkedin.com/in/samanthahankins/">LinkedIn</a></span></p> -->
	</section>
	<!-- <section class="mb-8">
		<h3 class="text-2xl font-bold my-2 font-brand">Design and representation</h3>
		<p class="text-lg leading-relaxed">As a designer navigating life with a newly deepened appreciation for my several identities and life experiences, I bring openness, curiosity, and vulnerability as core values to my design process and collaboration. I live with the belief that representation yields more inclusive and equitable products (and frankly, is required for any business to be successful today).</p>
	</section>
	<section>
		<h3 class="text-2xl font-bold my-2 font-brand">Empowering the next generation of designers</h3>
		<p class="text-lg mb-4 leading-relaxed">This also fuels my passion for teaching and welcoming thoughtful problem-solvers from underrepresented communities and career transitioners from non-tech backgrounds into the world of product design.</p>
		<p class="text-lg mb-4 leading-relaxed">I've spent close to 4 years mentoring up-and-coming designers with diverse backgrounds transitioning from other careers. As a career transitioner myself, I believe a new designer's greatest asset is owning their past experience and using that to inform their design voice. As a mentor, I help people refine their product-thinking skills, develop confidence in their unique history, and make sure these two things come together to produce a well-thought-out portfolio and radiate during their job interviews.</p>
		<p class="text-lg  mb-3 leading-relaxed">My past students and mentees now work at companies like Apple, Microsoft, Chegg, Slalom, Flickr, CVS and CarMax</p>
		<p class="">Interested in mentorship? <a href="mailto:sam@iamsamhankins.com" class="font-semibold underline">Let me know.</a></p>
	</section> -->

</Layout>


<style>

</style>