---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sam Hankins // Product Designer">
	<main class="mt-8 flex ">
		<!-- <img src="headshot.jpg" alt="image description" class="w-48 mb-8 rounded-full"/>
		<div>
			<h1 class="text-8xl font-semibold font-brand"> Sam Hankins</h1>
			<h2 class="text-3xl font-semibold my-2">My pronouns are they/them</h2>
		</div> -->
<!-- sub heading -->
	</main>
	<section class="my-8">
		<!-- <h3 class="text-6xl">I design digital community products and experiences that prioritize safety and privacy, respect unique perspectives, and encourage meaningful debate.
		</h3> -->
		<h3 class="text-6xl">I design flexible community products and experiences 
		</h3>
	</section>
<!-- section -->
	<div>
		<section class="mt-4 mb-6">
			<h3 class=" text-lg font-semibold my-0 font-brand">Currently</h3>
			<p class="text-2xl mb-3 leading-tight ">I lead research and design for <a href="https://blog.mozilla.org/en/mozilla/the-coral-project-is-moving-to-vox-media/" class="hover:underline font-semibold">Coral by Vox Media</a> the chosen commenting and moderation platform for some of the world's most trusted brands including The Washington Post, the Financial Times, USA Today, New York Magazine, and The Wall Street Journal.</h3></p>
		</section>
		<section class="mt-4 mb-4">
			<h3 class=" text-lg font-semibold  my-0 font-brand">Always</h3>
			<p class="text-2xl mb-3 leading-tight ">Filipinx-American. Queer. Non-binary. Neurodivergent.</h3></p>
		</section>
	</div>
	<!-- <p class="leading-loose">Portfolio update in progress. Get in <a href="mailto:sam@iamsamhankins.com" class="underline font-semibold">contact</a> or check out <span class="underline font-semibold"><a href="https://www.linkedin.com/in/samanthahankins/">LinkedIn</a></span></p> -->
	<!-- <section class="mb-8">
		<h3 class="text-2xl font-bold my-2 font-brand">Design and representation</h3>
		<p class="text-lg leading-relaxed">As a designer navigating life with a newly deepened appreciation for my several identities and life experiences, I bring openness, curiosity, and vulnerability as core values to my design process and collaboration. I live with the belief that representation yields more inclusive and equitable products (and frankly, is required for any business to be successful today).</p>
	</section>
	<section>
		<h3 class="text-2xl font-bold my-2 font-brand">Empowering the next generation of designers</h3>
		<p class="text-lg mb-4 leading-relaxed">This also fuels my passion for teaching and welcoming thoughtful problem-solvers from underrepresented communities and career transitioners from non-tech backgrounds into the world of product design.</p>
		<p class="text-lg mb-4 leading-relaxed">I've spent close to 4 years mentoring up-and-coming designers with diverse backgrounds transitioning from other careers. As a career transitioner myself, I believe a new designer's greatest asset is owning their past experience and using that to inform their design voice. As a mentor, I help people refine their product-thinking skills, develop confidence in their unique history, and make sure these two things come together to produce a well-thought-out portfolio and radiate during their job interviews.</p>
		<p class="text-lg  mb-3 leading-relaxed">My past students and mentees now work at companies like Apple, Microsoft, Chegg, Slalom, Flickr, CVS and CarMax</p>
		<p class="">Interested in mentorship? <a href="mailto:sam@iamsamhankins.com" class="font-semibold underline">Let me know.</a></p>
	</section> -->

</Layout>


<style>

</style>
