---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sam Hankins // Resume">
	<main class="mt-8 mb-4">
		<img src="headshot.jpg" alt="image description" class="w-48 mb-8 rounded-full"/>
		<h1 class="text-gradient text-6xl mb-2 font-brand">Sam Hankins</h1>
<!-- sub heading -->
		<h2 class="text-xl font-bold mb-2">Product designer</h2>
		<p class="font-bold">Filipinx-American. Queer. Non-binary. Neurodivergent. NYC.</p>
	</main>
<!-- experience section -->
	<section class="my-8">
		<h3 class="text-2xl font-brand my-2">Experience</h3>
		<div class="mb-8">
			<h4 class="text-xl font-black">Vox Media</h4>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Principal product designer</h4>
					<p class="text-base">May 2021 - present</p>
				</div>
				<ul>
					<li>Editorial tools thing</li>
					<li>Coral thing</li>
				</ul>
			</div>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Senior product designer</h4>
					<p class="text-base">Jan 2019 - Apr 2021</p>
				</div>
				<ul>
					<li>Editorial tools thing</li>
					<li>Coral thing</li>
				</ul>
			</div>
		</div>
		<div class="mb-8">
			<h4 class="text-xl font-extrabold">Bloc (acquired by Thinkful)</h4>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Product design educator</h4>
					<p class="text-base">Apr 2017 - Feb 2020</p>
				</div>
				<ul>
					<li>Editorial tools thing</li>
					<li>Coral thing</li>
				</ul>
			</div>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Squad lead, Design programs</h4>
					<p class="text-base">Jan 2019 - Jan 2020</p>
				</div>
				<ul>
					<li>Editorial tools thing</li>
					<li>Coral thing</li>
				</ul>
			</div>
		</div>
		<div class="mb-8">
			<h4 class="text-xl font-extrabold">Mozilla Foundation</h4>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Lead designer</h4>
					<p class="text-base">Apr 2017 - Feb 2020</p>
				</div>
				<ul>
					<li>Editorial tools thing</li>
					<li>Coral thing</li>
				</ul>
			</div>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Product designer</h4>
					<p class="text-base">Jan 2019 - Jan 2020</p>
				</div>
				<ul>
					<li>Editorial tools thing</li>
					<li>Coral thing</li>
				</ul>
			</div>
		</div>

	</section>
	<section class="my-8">
		<h3 class="text-2xl font-brand my-2">Education</h3>
			<ul>
				<li class="mb-2">
					<h4 class="text-lg font-bold">Bloc</h4>
					<p class="text-sm font-bold">UX Design Appreticeship</p>
				</li>
				<li class="mb-2">
					<h4 class="text-lg font-bold">Gonzaga University School of Law</h4>
					<p class="text-sm font-bold">Juris doctor</p>
				</li>
				<li class="mb-2">
					<h4 class="text-lg font-bold">Chicago Portfolio School</h4>
					<p class="text-sm font-bold">Art direction</p>
				</li>
				<li class="mb-2">
					<h4 class="text-lg font-bold">Creighton University</h4>
					<p class="text-sm font-bold">BA in Journalism and Mass Communications</p>
				</li>
			</ul>
	</section>


</Layout>



<style>

</style>
