---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sam Hankins // Resume">
	<main class="mt-8 mb-4">
		<img src="headshot.jpg" alt="image description" class="w-48 mb-8 rounded-full"/>
		<h1 class="text-gradient text-6xl mb-2 font-brand">Sam Hankins</h1>
<!-- sub heading -->
		<h2 class="text-xl font-bold mb-2">Product designer</h2>
		<p class="font-bold">Filipinx-American. Queer. Non-binary. Neurodivergent. NYC.</p>
	</main>
<!-- experience section -->
	<section class="my-8">
		<h3 class="text-2xl font-brand my-2">Experience</h3>
		<div class="mb-8">
			<h4 class="text-xl font-black">Vox Media</h4>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Principal product designer, Coral and Editorial Tools</h4>
					<p class="text-base">May 2021 - present</p>
				</div>
				<ul>
					<li>Served as product design lead for Quick Posts editorial tooling -- a new shortform publishing format at the center of The Verge homepage rebrand and relaunch.</li>
					<li>Led in depth community research for SB Nation, as part of launching across Vox Media's largest brand.</li>
				</ul>
			</div>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Senior product designer</h4>
					<p class="text-base">Jan 2019 - Apr 2021</p>
				</div>
				<ul>
					<li>Launched Q&A format. There was a lot of research. Launched right before Covid. </li>
					<li>Developed Design system for Coral modreation system and design token system for clients to easily implement their brand expression on the front-end.</li>
				</ul>
			</div>
		</div>
		<div class="mb-8">
			<h4 class="text-xl font-extrabold">Bloc (acquired by Thinkful)</h4>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Product design educator</h4>
					<p class="text-base">Apr 2017 - Feb 2020</p>
				</div>
				<ul>
					<li>I worked directly with students in 30 minute 1-on-1 video sessions and via Slack to support them on their journey to becoming product and user experience designers. The curriculum is project-based and each week we focus on a different area of the UX process, visual design and front-end development (HTML/CSS/JavaScript).</li>
					<li>
					Twice a week, I hosted design critique group sessions reviewing student portfolios and projects giving in-depth feedback and action items to help them take their work to the next level.Additionally, I coached recent grads during their job search by providing in-depth portfolio reviews and conducting mock interviews.</li>
				</ul>
			</div>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Squad lead, Design programs</h4>
					<p class="text-base">Jan 2019 - Jan 2020</p>
				</div>
				<ul>
					<li>Onboarded and managed a team of 20+ of mentors en route to the program’s highest job placement rate. Developed hard and soft skills rubrics for evaluating prospective mentors and reviewed portfolios as part of mentor hiring team. </li>
					<li>Shifted mentorship focus to coaching recent grads on their career goals, interview skills, personal brand, and portfolio refinements.</li>
				</ul>
			</div>
		</div>
		<div class="mb-8">
			<h4 class="text-xl font-extrabold">Mozilla Foundation</h4>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Lead designer</h4>
					<p class="text-base">Apr 2017 - Feb 2020</p>
				</div>
				<ul>
					<li>Owned design process for launch of Coral’s safety-first commenter, moderator, and admin experience. Conducted user research and usability testing to understand moderator needs and inform product direction. Crafted accessible designs optimized for internationalization. Collaborated with the Product Owner, Lead Engineer and Tech Lead to define, prioritize and scope roadmap and sprints.</li>
				</ul>
			</div>
			<div class="mb-4">
				<div class="flex justify-between">
					<h4 class="text-base font-bold">Product designer</h4>
					<p class="text-base">Jan 2019 - Jan 2020</p>
				</div>
				<ul>
					<li>I get to talk to commenters and comment moderators to figure out ways design can solve the issues around trolling and harassment, and also bring more diverse voices to many of the important conversations of today.</li>
				</ul>
			</div>
		</div>

	</section>
	<section class="my-8">
		<h3 class="text-2xl font-brand my-2">Education</h3>
			<ul>
				<li class="mb-2">
					<h4 class="text-lg font-bold">Bloc</h4>
					<p class="text-sm font-bold">UX Design Appreticeship</p>
				</li>
				<li class="mb-2">
					<h4 class="text-lg font-bold">Gonzaga University School of Law</h4>
					<p class="text-sm font-bold">Juris doctor</p>
				</li>
				<li class="mb-2">
					<h4 class="text-lg font-bold">Chicago Portfolio School</h4>
					<p class="text-sm font-bold">Art direction</p>
				</li>
				<li class="mb-2">
					<h4 class="text-lg font-bold">Creighton University</h4>
					<p class="text-sm font-bold">BA in Journalism and Mass Communications</p>
				</li>
			</ul>
	</section>


</Layout>



<style>

</style>
