---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sam Hankins // Work">
	<section class="mb-12">
		<h1 class="text-3xl font-semibold">Quick Posts Editorial Tooling</h1>
		<h2 class="text-xl my-4">Quick posts power the all-new Verge homepage experience. For readers, they feel like they’re sitting on Slack with the Verge. For the Verge, quick posts bring their most important voices back on site by lowering the barrier to publishing.</h2>
		<p>In support of the Verge relaunch, I was tapped lead design on Editorial Tools team for the quick post writing and publishing experience. In addition to navigating priority and organizational changes, the team’s engineers were rebuilding their entire composition experience in vue.js. The key challenge here was to partner and negotiate with engineering partners to create an all new publishing paradigm while minimizing engineering code waste and tech debt, and on time for the launch of the new Verge experience.</p>
		<p class="my-4"><a href="https://www.theverge.com/2022/9/13/23349876/the-verge-website-redesign-new-newsfeed-blogs-logo" class="font-medium hover:underline text-pink-600">Read more about the relaunch of The Verge<i class="fa-sharp fa-solid fa-arrow-right fa-sm ml-2"></i></a></p>
	</section>

	<section class="mb-12">
		<h1 class="text-3xl font-semibold">SB Nation Community User Research</h1>
		<h2 class="text-xl my-4">Change is hard, but this is the one where we learn a humbling lesson on how passionate sports communities differ from traditional media audiences.</h2>
		<p>Following the success of our saas business, our first launch on Vox Media properties was on SB Nation's NFL team fan sites. While the previous experience was outdated, and suffered from many performance issues, long time community members felt as though the introduction of Coral destroyed their communities. They weren't necessarily wrong. As a result, I led a user research effort to bring the team up to speed on new considerations for these close knit, long-standing communities.</p>
	</section>

	<section class="mb-12">
		<h1 class="text-3xl font-semibold">Coral Q&A</h1>
		<h2 class="text-xl my-4">Coral Q&A makes it easy for newsrooms to bring conversations between trusted reporters and experts back on site.</h2>
		<p>I planned and executed extensive user research with audience engagement editors to understand how they were using platforms like Twitter and Reddit to host conversations between reporters and their readers. Insights relating to resourcing, moderation support, and resistance to learning new tools resulted on a focus on centering the experience for reporters on the audience facing comment stream.</p>
		<p class="my-4"><a href="https://coralproject.net/qa-endorse/" class="font-medium hover:underline text-pink-600">Read more about how the Financial Times and The State used Coral Q&A at the start of the Pandemic<i class="fa-sharp fa-solid fa-arrow-right fa-sm ml-2"></i></a></p>
	</section>

</Layout>



<style>

</style>
