---
import { Icon } from 'astro-icon/components'
---

<div class="inline flex justify-between py-8 items-center border-b-2 border-gray-400 mb-16">

	<ul class="inline">
        <li class="inline mr-3 hover:text-teal-600 text-4xl font-brand text-center font-bold tracking-tight"><a href="/">SH</a></li>
        <li class="inline mr-3 font-bold font-sans text-lg hover:underline"><a href="/work">work</a></li>
		<li class="inline mr-3 font-medium text-lg hover:underline"><a href="/resume">resume</a></li>
        <li class="inline mr-3 font-medium text-lg hover:underline"><a href="/about">about</a></li>

	</ul>
	<ul class="inline">
		<li class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer"><a href="mailto:sam@iamsamhankins.com"><i class="fa-regular fa-envelope"></i></a></li>
		<li class="inline-block"><a href="https://www.linkedin.com/in/samanthahankins/"><Icon name="linkedin" class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer text-xl"/></a></li>
		<li class="inline-block">
            <a href="https://www.instagram.com/inthecheapseats/">    
                <Icon name="instagram" class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer text-xl"/>
            </a>
        </li>
		<li class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer"><a href="https://twitter.com/theysamtheirs"><i class="fa-brands fa-twitter"></i></a></li>
	</ul>
</div>