---

---

<div class="inline flex justify-between">
	<ul class="inline">
		<li class="inline mr-3">home</li>
		<li class="inline mr-3">resume</li>
		<li class="inline mr-3">about</li>
		<li class="inline mr-3">writing</li>
		<li class="inline">contact</li>
	</ul>
	<ul class="inline">
		<li class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer"><a href="mailto:sam@iamsamhankins.com"><i class="fa-regular fa-envelope"></i></a></li>
		<li class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer"><a href="https://www.linkedin.com/in/samanthahankins/"><i class="fa-brands fa-linkedin-in"></i></a></li>
		<li class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer"><a href="https://www.instagram.com/inthecheapseats/"><i class="fa-brands fa-instagram"></i></a></li>
		<li class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer"><a href="https://twitter.com/theysamtheirs"><i class="fa-brands fa-twitter"></i></a></li>
	</ul>
</div>