---

---

<div class="inline flex justify-between py-8 items-center border-b-2 border-gray-400 mb-16">
	<ul class="inline">
		<li class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer"><a href="mailto:sam@iamsamhankins.com"><i class="fa-regular fa-envelope"></i></a></li>
		<li class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer"><a href="https://www.linkedin.com/in/samanthahankins/"><i class="fa-brands fa-linkedin-in"></i></a></li>
		<li class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer"><a href="https://www.instagram.com/inthecheapseats/"><i class="fa-brands fa-instagram"></i></a></li>
		<li class="inline mr-4 hover:text-indigo-700 hover:cursor-pointer"><a href="https://twitter.com/theysamtheirs"><i class="fa-brands fa-twitter"></i></a></li>
	</ul>
	<h1 class="inline mr-3 font-bold hover:text-teal-600 text-3xl font-sans uppercase text-center"><a href="/">SAM Hankins</a></h1>
	<ul class="inline">
		<li class="inline mr-3 font-medium text-lg hover:underline"><a href="/work">work</a></li>
		<li class="inline mr-3 font-medium text-lg hover:underline"><a href="/resume">resume</a></li>
	</ul>
</div>