---
import Layout from './Layout.astro';
const {frontmatter} = Astro.props;
---
<Layout>
    <div class="my-12">
        <h2 class="text-4xl font-brand">{frontmatter.title}</h2>
        <!-- <h3 class="text-base">{frontmatter.description}</h3> -->
    </div>
    <article class="prose">
        <slot />
    </article>
</Layout>

<style>
    article :global(h3){
        color: green;
        font-size: 24px;
    }
</style>